.cont{
    background-color: hsl(213, 19%, 18%);
    height: 400px;
    width: 400px;
    margin-left: 300px;
    margin-top: 200px;
    border-radius: 20px;
}
.thank{
    margin-left: 80px;
    padding-top: 30px;
}
#footer{
    text-align: center;
    font-weight:200;
    font-size:0.9rem;
}
#user{
    color:hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding:0.7rem;
    font-size:0.9rem;
    border-radius:1rem;
    margin-left: 50px;
    color: white;
}
h3{
    color: white;
    margin-left: 130px;
}
p{
    color: white;
    width: 70%;
    margin-left: 60px;
}