*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty{
    width:350px;
    height: 150px;
    background-color: black;
    margin-top: 100px;
}
p{
    padding-top: 30px;
    padding-bottom: 20px;
}
.buts1{
    margin-right: 10px;
    width: 80px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}