*{
  margin: 0;
  padding: 0;

}
body{
  background-color:hsl(225, 100%, 94%);
  font-family: sans-serif;
}
.whole{
  width: 400px;
  height: 550px;
  background-color:hsl(225, 100%, 98%) ;
  margin-top: 100px;
  margin-left: 550px;
  border-radius: 20px;
}
img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.summary{
   margin-top: 20px;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}
.plan{
  display: flex;
  padding: 10px;
  margin-top: 30px;
  background-color:hsl(225, 100%, 94%) ;
  width: fit-content;
  margin-left:60px ;
}
.plan h5{
  padding-left: 10px;
  margin-top: 8px;
}
.plan a{
  padding-left: 70px;
  margin-top: 12px;
  font-weight: lighter;
}
.order{
text-align: center;
margin-top: 20px;   
}
.order h5{
 width: 200px;
 height: 20px;
 margin-left: 85px;
 background-color: hsl(245, 75%, 52%);
 border-radius: 10px;
 padding: 10px;
 color: white;
 box-shadow: 5px 5px rgb(205, 201, 201);
}
.order h4{
  margin-top: 15px;
  font-weight: lighter;
}